# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual Environment
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp

# macOS / Linux / Windows
.DS_Store
Thumbs.db

# Environment variables
.env

# Jupyter & IPython
.ipynb_checkpoints/
*.ipynb
*.out

# Temporary files
*.tmp
*.temp
*.~*

# Compiled
*.so
*.egg-info/
dist/
build/

# Misc
logs/

*.lock